In [38]:
import numpy as np
import pandas as pd
import datetime

In [39]:
filename = 'Airports.csv'
ndf = pd.read_csv(filename)
ndf.nlargest(5,'lat')

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

**Upon initial inspection it would appear that the Dilant Hopkins Airport is the northern most, however, my research concludes that there is an error in the data. The Latitude and Longitude of Dilant Hopkins Airport are flipped. This means that the Northern Most airport in the US is Wiley Post Will Rogers Mem Airport.**

<img src="EENcoord.png">
<img src="BRWcoord.png">

In [40]:
filename = 'Airports.csv'
edf = pd.read_csv(filename)
edf.nlargest(5,'lon')

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

**Although it would appear that, based on longitude, Eareckson As Airport is the easternmost airport in the US, this is not true. It is the at the edge of the eastern hemisphere, but, in relation to the US, it is actually the westernmost. We have already established that the coordinates for Dillant Hopkins Airport are flipped, therefore, Eastport Municipal Airport is the easternmost airport in the United States.**

<img src="WestVsEast.png">

In [41]:
filename = 'Weather.txt'
wdf = pd.read_csv(filename)
nwdf = wdf.loc[(wdf['year'] == 2013) & (wdf['month'] == 2) & (wdf['day'] == 12)]
nwdf.nlargest(5,'wind_speed')

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z
18417,LGA,2013,2,12,2,42.98,26.06,50.94,290.0,23.01560,31.07106,0.0,1007.1,10.0,2013-02-12T07:00:00Z
1018,EWR,2013,2,12,12,44.06,26.06,48.87,270.0,21.86482,31.07106,0.0,1012.5,10.0,2013-02-12T17:00:00Z
18428,LGA,2013,2,12,13,44.06,23.00,43.02,300.0,21.86482,25.31716,0.0,1011.7,10.0,2013-02-12T18:00:00Z
1008,EWR,2013,2,12,2,39.92,28.04,62.21,270.0,20.71404,25.31716,0.0,1007.8,10.0,2013-02-12T07:00:00Z

**It appears that the airport with the highesat wind speed on February 12th, 2013 was Newark airport, however, when researching the data it looks like that measurement was an anomaly because it was not at all consistent and only measured one time. Looking at LaGuardia's data from the same day, it appears to be consistent. Therefore, LaGuardia had the windiest weather on February 12th, 2013.**

<img src="windAnom.png">